fire==0.7.1
accelerate==1.13.0
safetensors==0.8.0
transformers==5.9.0
pillow==12.2.0
decord==0.6.0
diffusers==0.38.0
peft==0.19.1
xformers
av==17.0.1
matplotlib==3.10.9
mediapy==1.2.6
opencv-python==4.13.0.92
ninja==1.13.0
ftfy==6.3.1
imageio-ffmpeg==0.6.0
torchao==0.15
